SESSION_SECRET=change-me-to-a-random-64-char-string
SESSION_COOKIE_SECURE=1
REPORTES_INSECURE_TLS_BUILD=0

USER_ADMIN_PASSWORD=change-me
USER_OPERADOR_PASSWORD=change-me
USER_SERVICOOP_PASSWORD=change-me

# Guardias
GUARDIAS=FERRARI,ARCE,CARO,DONATO
FECHA_REFERENCIA=2025-01-07
GUARDIA_REFERENCIA=DONATO
CELULAR_CORPORATIVO=+54 280 XXX-XXXX

# Informe Agua
WORKER_INTERVAL_MS=300000
