WEB_HTTPS_PORT=443

BASIC_AUTH_USER=change-me
BASIC_AUTH_PASS=change-me-strong-password
SPA_INSECURE_TLS_BUILD=0

SPA_REPO_URL=https://github.com/mferrari98/telecom-spa.git
SPA_REF=main

REPORTES_REPO_URL=https://github.com/mferrari98/telecom-reportespiolis.git
REPORTES_REF=main
